# Server Configuration
PORT=3000
WEBSITE_URL=http://localhost:3000

# SePay API Configuration
SEPAY_BANK=ACB
SEPAY_ACCOUNT_NO=16997077
SEPAY_ACCOUNT_NAME=DINH QUOC HOANG
SEPAY_API_TOKEN=your_sepay_api_token_here

# Resend API Configuration
RESEND_API_KEY=your_resend_api_key_here
